<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/8c10e389dda3d1b6cbe23871/w/5a5746d77355e6e80cdff190/e/a8c47972b1a515a86b80b7ad -->
<robot name="Hardware">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part front_wing -->
    <visual>
      <origin xyz="-0.0273957 0.043155 -0.00102686" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/front_wing.stl"/>
      </geometry>
      <material name="front_wing_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0273957 0.043155 -0.00102686" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/front_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part back_wing -->
    <visual>
      <origin xyz="-0.0273957 -0.044845 -0.00102686" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/back_wing.stl"/>
      </geometry>
      <material name="back_wing_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0273957 -0.044845 -0.00102686" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/back_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part back_wing_2 -->
    <visual>
      <origin xyz="0.0276043 -0.044845 0.000973139" rpy="3.14159 -0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/back_wing.stl"/>
      </geometry>
      <material name="back_wing_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0276043 -0.044845 0.000973139" rpy="3.14159 -0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/back_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part imu -->
    <visual>
      <origin xyz="0.000104278 -0.000821809 0.000973139" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/imu.stl"/>
      </geometry>
      <material name="imu_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000104278 -0.000821809 0.000973139" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/imu.stl"/>
      </geometry>
    </collision>
    <!-- Part base_link -->
    <visual>
      <origin xyz="0.000104278 -0.000957702 -0.00102686" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000104278 -0.000957702 -0.00102686" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_link.stl"/>
      </geometry>
    </collision>
    <!-- Part mcu -->
    <visual>
      <origin xyz="0.000104278 0.0240713 0.000973139" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/mcu.stl"/>
      </geometry>
      <material name="mcu_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000104278 0.0240713 0.000973139" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/mcu.stl"/>
      </geometry>
    </collision>
    <!-- Part front_wing_2 -->
    <visual>
      <origin xyz="0.0276043 0.043155 0.000973139" rpy="3.14159 -0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/front_wing.stl"/>
      </geometry>
      <material name="front_wing_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0276043 0.043155 0.000973139" rpy="3.14159 -0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/front_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part motor -->
    <visual>
      <origin xyz="-0.0418957 0.0430423 0.000973139" rpy="7.94093e-23 7.94093e-23 -7.34786e-17"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
      <material name="motor_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0418957 0.0430423 0.000973139" rpy="7.94093e-23 7.94093e-23 -7.34786e-17"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part propeller -->
    <visual>
      <origin xyz="-0.0418957 0.0430423 0.00297314" rpy="3.14159 -7.94093e-23 1.42203e-07"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
      <material name="propeller_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0418957 0.0430423 0.00297314" rpy="3.14159 -7.94093e-23 1.42203e-07"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_2 -->
    <visual>
      <origin xyz="0.0421043 -0.0449577 0.000973139" rpy="0 -0 1.77415e-16"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
      <material name="motor_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0421043 -0.0449577 0.000973139" rpy="0 -0 1.77415e-16"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part propeller_2 -->
    <visual>
      <origin xyz="0.0421043 -0.0449577 0.00297314" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
      <material name="propeller_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0421043 -0.0449577 0.00297314" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
    </collision>
    <!-- Part propeller_3 -->
    <visual>
      <origin xyz="-0.0418957 -0.0449577 0.00297314" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
      <material name="propeller_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0418957 -0.0449577 0.00297314" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_3 -->
    <visual>
      <origin xyz="-0.0418957 -0.0449577 0.000973139" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
      <material name="motor_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0418957 -0.0449577 0.000973139" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_4 -->
    <visual>
      <origin xyz="0.0421043 0.0430423 0.000973139" rpy="0 -0 1.77415e-16"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
      <material name="motor_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0421043 0.0430423 0.000973139" rpy="0 -0 1.77415e-16"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part propeller_4 -->
    <visual>
      <origin xyz="0.0421043 0.0430423 0.00297314" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
      <material name="propeller_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0421043 0.0430423 0.00297314" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/propeller.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
