<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/8c10e389dda3d1b6cbe23871/w/5a5746d77355e6e80cdff190/e/a8c47972b1a515a86b80b7ad -->
<robot name="drone">
  <!-- Link drone_frame -->
  <link name="drone_frame">
    <inertial>
      <origin xyz="1.90026e-06 -0.00157144 0.0380665" rpy="0 0 0"/>
      <mass value="0.152078"/>
      <inertia ixx="0.000115231" ixy="1.83252e-08" ixz="-1.57796e-09" iyy="4.83201e-05" iyz="3.25286e-06" izz="0.000140532"/>
    </inertial>
    <!-- Part front_wing -->
    <visual>
      <origin xyz="-0.0275 0.0439768 0.045" rpy="2.88643e-17 -2.79915e-17 5.69411e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/front_wing.stl"/>
      </geometry>
      <material name="front_wing_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0275 0.0439768 0.045" rpy="2.88643e-17 -2.79915e-17 5.69411e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/front_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part motor -->
    <visual>
      <origin xyz="-0.042 -0.0441359 0.047" rpy="1.27361e-18 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
      <material name="motor_material">
        <color rgba="0.811765 0.858824 0.898039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.042 -0.0441359 0.047" rpy="1.27361e-18 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_2 -->
    <visual>
      <origin xyz="0.042 0.0438641 0.047" rpy="1.91039e-18 -2.79915e-17 1.77888e-16"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
      <material name="motor_2_material">
        <color rgba="0.811765 0.858824 0.898039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.042 0.0438641 0.047" rpy="1.91039e-18 -2.79915e-17 1.77888e-16"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part leg -->
    <visual>
      <origin xyz="-0.0284228 -0.0451679 -0.00251155" rpy="1.5708 6.3681e-19 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
      <material name="leg_material">
        <color rgba="0.372549 0.654902 0.239216 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0284228 -0.0451679 -0.00251155" rpy="1.5708 6.3681e-19 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
    </collision>
    <!-- Part back_wing -->
    <visual>
      <origin xyz="-0.0275 -0.0440232 0.045" rpy="2.88643e-17 -2.79915e-17 5.69411e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/back_wing.stl"/>
      </geometry>
      <material name="back_wing_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0275 -0.0440232 0.045" rpy="2.88643e-17 -2.79915e-17 5.69411e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/back_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_3 -->
    <visual>
      <origin xyz="-0.042 0.0438641 0.047" rpy="1.27361e-18 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
      <material name="motor_3_material">
        <color rgba="0.811765 0.858824 0.898039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.042 0.0438641 0.047" rpy="1.27361e-18 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part custom_pcb -->
    <visual>
      <origin xyz="1.13217e-18 -1.82206e-18 0.047" rpy="1.98523e-23 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/custom_pcb.stl"/>
      </geometry>
      <material name="custom_pcb_material">
        <color rgba="0.913725 0.647059 0.329412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.13217e-18 -1.82206e-18 0.047" rpy="1.98523e-23 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/custom_pcb.stl"/>
      </geometry>
    </collision>
    <!-- Part back_wing_2 -->
    <visual>
      <origin xyz="0.0275 -0.0440232 0.047" rpy="3.14159 2.79915e-17 -3.14159"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/back_wing.stl"/>
      </geometry>
      <material name="back_wing_2_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0275 -0.0440232 0.047" rpy="3.14159 2.79915e-17 -3.14159"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/back_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part leg_2 -->
    <visual>
      <origin xyz="0.0334228 0.0408641 -0.00251155" rpy="1.5708 1.27359e-18 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
      <material name="leg_2_material">
        <color rgba="0.372549 0.654902 0.239216 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0334228 0.0408641 -0.00251155" rpy="1.5708 1.27359e-18 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
    </collision>
    <!-- Part drone_frame -->
    <visual>
      <origin xyz="-5.03395e-18 -0.000135894 0.045" rpy="1.01888e-17 -2.23932e-16 4.55532e-18"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/drone_frame.stl"/>
      </geometry>
      <material name="drone_frame_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-5.03395e-18 -0.000135894 0.045" rpy="1.01888e-17 -2.23932e-16 4.55532e-18"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/drone_frame.stl"/>
      </geometry>
    </collision>
    <!-- Part mcu -->
    <visual>
      <origin xyz="4.73078e-19 0.0268931 0.04857" rpy="-2.75907e-17 -2.79915e-17 5.69405e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/mcu.stl"/>
      </geometry>
      <material name="mcu_material">
        <color rgba="0.372549 0.654902 0.239216 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="4.73078e-19 0.0268931 0.04857" rpy="-2.75907e-17 -2.79915e-17 5.69405e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/mcu.stl"/>
      </geometry>
    </collision>
    <!-- Part 2s_battery -->
    <visual>
      <origin xyz="-1.50777e-18 1.63604e-18 0.026" rpy="1.98523e-23 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/2s_battery.stl"/>
      </geometry>
      <material name="2s_battery_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.50777e-18 1.63604e-18 0.026" rpy="1.98523e-23 -2.79915e-17 5.69408e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/2s_battery.stl"/>
      </geometry>
    </collision>
    <!-- Part esc -->
    <visual>
      <origin xyz="1.51785e-19 -0.03 0.04857" rpy="-2.75907e-17 -2.79915e-17 5.69405e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/esc.stl"/>
      </geometry>
      <material name="esc_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.51785e-19 -0.03 0.04857" rpy="-2.75907e-17 -2.79915e-17 5.69405e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/esc.stl"/>
      </geometry>
    </collision>
    <!-- Part imu -->
    <visual>
      <origin xyz="3.46389e-19 0.000318293 0.05157" rpy="1.5708 2.64698e-23 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/imu.stl"/>
      </geometry>
      <material name="imu_material">
        <color rgba="0 0 0.784314 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.46389e-19 0.000318293 0.05157" rpy="1.5708 2.64698e-23 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/imu.stl"/>
      </geometry>
    </collision>
    <!-- Part front_wing_2 -->
    <visual>
      <origin xyz="0.0275 0.0439768 0.047" rpy="3.14159 2.79915e-17 -3.14159"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/front_wing.stl"/>
      </geometry>
      <material name="front_wing_2_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0275 0.0439768 0.047" rpy="3.14159 2.79915e-17 -3.14159"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/front_wing.stl"/>
      </geometry>
    </collision>
    <!-- Part leg_3 -->
    <visual>
      <origin xyz="0.0334228 -0.0451679 -0.00251155" rpy="1.5708 1.27359e-18 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
      <material name="leg_3_material">
        <color rgba="0.372549 0.654902 0.239216 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0334228 -0.0451679 -0.00251155" rpy="1.5708 1.27359e-18 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
    </collision>
    <!-- Part main001 -->
    <visual>
      <origin xyz="-0.0110515 0.00840087 0.04957" rpy="3.14159 -2.79915e-17 5.69405e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/main001.stl"/>
      </geometry>
      <material name="main001_material">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0110515 0.00840087 0.04957" rpy="3.14159 -2.79915e-17 5.69405e-19"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/main001.stl"/>
      </geometry>
    </collision>
    <!-- Part leg_4 -->
    <visual>
      <origin xyz="-0.0284228 0.0408641 -0.00251155" rpy="1.5708 6.3681e-19 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
      <material name="leg_4_material">
        <color rgba="0.372549 0.654902 0.239216 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0284228 0.0408641 -0.00251155" rpy="1.5708 6.3681e-19 -1.5708"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/leg.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_4 -->
    <visual>
      <origin xyz="0.042 -0.0441359 0.047" rpy="1.91039e-18 -2.79915e-17 1.77888e-16"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
      <material name="motor_4_material">
        <color rgba="0.811765 0.858824 0.898039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.042 -0.0441359 0.047" rpy="1.91039e-18 -2.79915e-17 1.77888e-16"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/motor.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame base_link (dummy link + fixed joint) -->
  <link name="base_link">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="base_link_frame" type="fixed">
    <origin xyz="4.27546e-19 1.50726e-19 0.04857" rpy="1.98523e-23 -2.79915e-17 5.69408e-19"/>
    <parent link="drone_frame"/>
    <child link="base_link"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link prop -->
  <link name="prop">
    <inertial>
      <origin xyz="3.77138e-15 1.04879e-15 -9.46113e-05" rpy="0 0 0"/>
      <mass value="0.000758683"/>
      <inertia ixx="6.58743e-09" ixy="1.73562e-09" ixz="0" iyy="1.27556e-07" iyz="0" izz="1.31648e-07"/>
    </inertial>
    <!-- Part prop -->
    <visual>
      <origin xyz="0 -6.93889e-18 0" rpy="1.5708 -0 -2.86726e-34"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
      <material name="prop_material">
        <color rgba="0.501961 0.501961 0.501961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -6.93889e-18 0" rpy="1.5708 -0 -2.86726e-34"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from drone_frame to prop -->
  <joint name="motor_prop_1" type="revolute">
    <origin xyz="-0.042 -0.0442159 0.057625" rpy="8.78666e-17 -6.99788e-17 3.69828e-18"/>
    <parent link="drone_frame"/>
    <child link="prop"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link prop_2 -->
  <link name="prop_2">
    <inertial>
      <origin xyz="3.77138e-15 1.06267e-15 -9.46113e-05" rpy="0 0 0"/>
      <mass value="0.000758683"/>
      <inertia ixx="6.58743e-09" ixy="1.73562e-09" ixz="0" iyy="1.27556e-07" iyz="0" izz="1.31648e-07"/>
    </inertial>
    <!-- Part prop_2 -->
    <visual>
      <origin xyz="0 6.93889e-18 0" rpy="1.5708 -0 1.33312e-34"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
      <material name="prop_2_material">
        <color rgba="0.501961 0.501961 0.501961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 6.93889e-18 0" rpy="1.5708 -0 1.33312e-34"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from drone_frame to prop_2 -->
  <joint name="motor_prop_2" type="revolute">
    <origin xyz="-0.042 0.0437841 0.057625" rpy="3.01379e-17 -4.19873e-17 1.61237e-18"/>
    <parent link="drone_frame"/>
    <child link="prop_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link prop_3 -->
  <link name="prop_3">
    <inertial>
      <origin xyz="3.77138e-15 1.04879e-15 -9.46113e-05" rpy="0 0 0"/>
      <mass value="0.000758683"/>
      <inertia ixx="6.58743e-09" ixy="1.73562e-09" ixz="0" iyy="1.27556e-07" iyz="0" izz="1.31648e-07"/>
    </inertial>
    <!-- Part prop_3 -->
    <visual>
      <origin xyz="0 -6.93889e-18 0" rpy="1.5708 -0 2.23082e-32"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
      <material name="prop_3_material">
        <color rgba="0.501961 0.501961 0.501961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -6.93889e-18 0" rpy="1.5708 -0 2.23082e-32"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from drone_frame to prop_3 -->
  <joint name="motor_prop_3" type="revolute">
    <origin xyz="0.042 -0.0442159 0.057625" rpy="3.07747e-17 -4.19873e-17 1.78931e-16"/>
    <parent link="drone_frame"/>
    <child link="prop_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link prop_4 -->
  <link name="prop_4">
    <inertial>
      <origin xyz="3.77138e-15 1.06267e-15 -9.46113e-05" rpy="0 0 0"/>
      <mass value="0.000758683"/>
      <inertia ixx="6.58743e-09" ixy="1.73562e-09" ixz="0" iyy="1.27556e-07" iyz="0" izz="1.31648e-07"/>
    </inertial>
    <!-- Part prop_4 -->
    <visual>
      <origin xyz="0 6.93889e-18 0" rpy="1.5708 -0 2.23082e-32"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
      <material name="prop_4_material">
        <color rgba="0.501961 0.501961 0.501961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 6.93889e-18 0" rpy="1.5708 -0 2.23082e-32"/>
      <geometry>
        <mesh filename="package://f_drone_simulation/models/f_drone/assets/prop.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from drone_frame to prop_4 -->
  <joint name="motor_prop_4" type="revolute">
    <origin xyz="0.042 0.0437841 0.057625" rpy="3.07747e-17 -4.19873e-17 1.78931e-16"/>
    <parent link="drone_frame"/>
    <child link="prop_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>
